<div class="menu">
    <a href="/">Главная</a>
    <a href="/product/catalog">Каталог</a>
    <a href="/feedback/feedback">Отзывы</a>
    <a class="menu__basket" href="/basket/goods"><img class="shopping" src="/img/icon/shopping_cart.svg" alt="shopping_cart"><span class="menu__span" >(0)</span></a>
</div>
