.goods {
  display: flex;
  padding: 20px;
  div {
    padding-bottom: 15px;
  }
}

.goods__name {
  font-size: 25px;
}

.goods__img{
  width: 300px;
  padding-bottom: 15px;
}

.goods__buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.goods__iconBuy img{
  width: 40px;
}

.goods__price {
  font-size: 20px;
}

.goods__description {
  color: black;
  padding-left: 15px;
}

.goods__description {
  height: 100px;
  p {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 25px;
  }
}
